.welcome {
  width: 80%;
  margin:0 auto;

  .jumbotron {
    border-radius: 4px;
    padding: 20px 20px;
    padding-bottom:0;
    margin-bottom:0;
    background-color: inherit;
    .btn-row {
      text-align: center;
      margin-top:20px;
    }
    i.fa-bar-chart.fa-5x {
      font-size: 17em;
      position: relative;
      top: 25px;
      float:right;
    }
    h1 {
      i.fa-bar-chart {
        display: none;
        font-size: 2.2em;
        float:left;
        margin-right: 15px;
        margin-bottom: 5px;
      }
    }
    @media screen and (max-width: 768px) {
      i.fa-bar-chart {
        display:none;
      }
      h1 {
        i.fa-bar-chart {
          display: block;
        }
      }
    }
  }
  .btn {
    width:100px;
  }
}

@media (max-width: 768px) {
  .welcome {
    width: 100%;

    .fa-bar-chart {
      font-size: 5em;
    }
  }

}